<% include ../partials/boilerplate %>

<div class="user-info">
  <div class="info-container">
    <h3>Welcome back, <%= user.firstname %> <%= user.lastname %>!</h3>
    <p class="numberlist">You have uploaded <%= flashcards.length %> flashcard(s).</p>
  </div>
</div>

<% include ../partials/flashcards-list %>

<% include ../partials/end %>