<% include ../partials/boilerplate %>
  <form action="/flashcards" method="POST">
    <input type="text" name="question" placeholder="Question" />
    <input type="text" name="answer" placeholder="Answer" />
    <input type="text" name="category" placeholder="Category" />
    <input type="number" name="difficulty" placeholder="Difficulty" />
    <input type="submit" value="Add it!" />
  </form>

  <a href="/flashcards">Back to all flashcards</a>

<% include ../partials/end %>