<% include ../partials/boilerplate %>


<div class="createquizbutton">
  <span id="createquiz">Make a new quiz!</span>
</div>


<% include ../partials/quizbar %>

<% include ../partials/flashcards-list %>

<% include ../partials/keywords %>

<% include ../partials/end %>
