<% include ../partials/boilerplate %>

<div class="user-info">
  <div class="info-container">
    <h3>Showing <%= keyword.counter %> flashcards for <%= keyword.word %></h3>
  </div>
</div>

<% include ../partials/flashcards-list %>

<% include ../partials/end %>